*.DS_Store
node_modules
screenshots
database
e2e
server/config
server/cli
server/tools/init-db.js
server.err
server.out
nohup.out
test
temp.*
client/development/.temp
client/development/temp
mongodump*
archive
dist
about.txt
*.sh
*.out
*.out
*.err
client/development/libs/
client/development/app/lead
server/routes/leads.js
server/mongo-providers/lead-provider.js
client/development/app/report


