<div style="font-family:Verdana, Arial, Helvetica, sans-serif">

    <p style="margin-bottom:2em;">
        Hi {{client.firstName}},
    </p>

    <p>
        Please find attached the invoice for prints currently on display at {{client.businessName}}.
        Take a moment to check inventory against this statement. If you notice in discrepancies, please contact me at your earliest convenience.
    </p>
    <p>
        <i>
            On long lists, the actual list may be found on the next page.
            Sorry for any inconvenience. We are working to fix it.
        </i>
    </p>


    <p style="margin-top:2em;">
        Thank you,
    </p>

    <p>
        {{user.firstName}}
    </p>

    {{>signature}}

</div>