{{#if statementName }}
<table width="100%" border="0" style="margin:0;padding:0;font-size:14px;">
    <tr>
        <td width="50%">
            {{statementName}} <span style="font-weight:normal;">- {{statementDesc}}</span>
        </td>
        <td width="50%" align="right">
            Date: <span style="font-weight:bold;text-align:right">{{today}}</span>
        </td>
    </tr>
</table>
{{/if}}