
<div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4"
     style="margin-top: 20px !important;">

    <ul class="list-group"
        style="background-color: #ccc;"
        ng-controller="HomeCtrl as home">

        <!-- #TODO: Use real totals in home to reflect app state -->

        <li class="list-group-item list-group-item-heading">
            <h4>
                Welcome to <span style="font-weight:bold;">Print Assistant</span>
            </h4>
        </li>
        <li class="list-group-item list-group-item-info">
            Logged in as: <span style="font-weight:bold;">{{home.user.username}}</span>
        </li>
        <li class="list-group-item">
            Images
            <span class="badge badge-important">{{home.images}}</span>
        </li>
        <li class="list-group-item">
            Display Locations
            <span class="badge badge-important">{{home.locations}}</span>
        </li>
        <li class="list-group-item">
            Prints Sold
            <span class="badge badge-info">{{home.sold}}</span>
        </li>

        <li class="list-group-item">
            Current Prints
            <table class="table-bordered table-responsive table-condensed table-striped"
                   width="100%"
                   style="margin-top:6px;" >
                <tr ng-repeat="prints in home.printsByLocation">
                    <td>
                        {{prints._id}}
                    </td>
                    <td class="text-right">
                        {{prints.totalCount}}
                    </td>
                </tr>
                <tr>
                    <td class="text-right" style="font-weight: bold;">
                        Total:
                    </td>
                    <td class="text-right">
                        <!--<span class="badge badge-important">{{home.prints}}</span>-->
                        <span style="font-weight:bold;">{{home.prints}}</span>
                    </td>
                </tr>
            </table>
        </li>
        <li class="list-group-item">
            Current Leads
            <span class="badge badge-important"></span>
            <table class="table-bordered table-responsive table-condensed table-striped"
                   width="100%"
                   style="margin-top:6px;" >
                <tr ng-repeat="interest in home.leadsByInterest">
                    <td>
                        {{interest._id}}
                    </td>
                    <td class="text-right">
                        {{interest.total}}
                    </td>
                </tr>
                <tr>
                    <td class="text-right" style="font-weight: bold;">
                        Total:
                    </td>
                    <td class="text-right">
                        <!--<span class="badge badge-important">{{home.leads}}</span>-->
                        <span style="font-weight:bold;">{{home.leads}}</span>
                    </td>
                </tr>

            </table>
        </li>

    </ul>

</div>
