<table class="invoice" width="100%">
    <tr>
        <td>
            {{>header}}
        </td>
    </tr>
    <tr>
        <td>
          {{>ledger}}
        </td>
    </tr>
    {{>footer}}
</table>