<div class="btn-group">
    <a class="btn btn-default btn-sm"
       title={{displayTitle}}
       ui-sref={{displayState}}
       ui-sref-active="active">
        <span class="glyphicon glyphicon-picture" style="color:inherit !important;"></span>
    </a>

    <a class="btn btn-default btn-sm"
       title={{listTitle}}
       ui-sref={{listState}}
       ui-sref-active="active">

        <span class="glyphicon glyphicon-th-list" style="color:inherit !important;"></span>
    </a>
</div>
